<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <!---sprite for chevron is not working as in the course. used computer sprite to see the code working-->
      <use xlink:href="images/sprite.svg#computer"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
    repellendus rem voluptates mollitia minima deleniti aspernatur? Ipsa quis et
    earum.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <!---sprite for chevron is not working as in the course. used computer sprite to see the code working-->
      <use xlink:href="images/sprite.svg#computer"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
    repellendus rem voluptates mollitia minima deleniti aspernatur? Ipsa quis et
    earum.
  </div>
</div>
